/* import Aktiv Grotesk font */
@font-face {
  font-family: "Aktiv Grotesk -Bold";
  src: url(assets/fonts/AktivGrotesk-Bold.WOFF) format("woff");
}
@font-face {
  font-family: "Aktiv Grotesk -Light";
  src: url(assets/fonts/AktivGrotesk-Light.WOFF) format("woff");
}
@font-face {
  font-family: "Aktiv Grotesk -Medium";
  src: url(assets/fonts/AktivGrotesk-Medium.WOFF) format("woff");
}
@font-face {
  font-family: "Aktiv Grotesk -Regular";
  src: url(assets/fonts/AktivGrotesk-Regular.WOFF) format("woff");
}

/* import Morion Light font */
@font-face {
  font-family: "Morion -Light";
  src: url(assets/fonts/Morion-Light.WOFF) format("woff");
}
@font-face {
  font-family: "Morion -Regular";
  src: url(assets/fonts/Morion-Regular.WOFF) format("woff");
}
@font-face {
  font-family: "Morion -UltraLight";
  src: url(assets/fonts/Morion-UltraLight.WOFF) format("woff");
}

/* CSS resets from https://piccalil.li/blog/a-modern-css-reset/ */
/* -- Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* -- Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* -- Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* -- Set core body defaults */
html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* -- A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* -- Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* -- Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* -- Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* HEADER: announcement bar   */
.announcement-bar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
  left: 0;
  background-color: #373737;
  font-family: "Aktiv Grotesk -Regular";
  font-weight: lighter;
  font-size: 0.875em;
  line-height: 1em;
  text-transform: uppercase;
  color: #ffffff;
}

.announcement-bar-header a {
  color: #ffffff;
}

/* HEADER: navigation bar */
#navigation-logo {
  max-height: 1.8125em;
}

.primary-navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 80px;
}

.primary-navigation-header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: white;
}

.nav-list {
  display: flex;
  gap: 1.5em;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  font-size: 1em;
  line-height: 1.1875em;
  font-family: "Aktiv Grotesk -Regular";
  color: #373737;
  text-align: right;
}

.nav-list a:hover {
  color: #bb8934;
}

.nav-list li:nth-child(6) {
  padding-right: 4em;
}

.quick-link-icon:hover {
  filter: invert(46%) sepia(75%) saturate(374%) hue-rotate(359deg)
    brightness(105%) contrast(95%);
}

/* HEADER: hero banner */
.hero-banner-header img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.hero-banner-container {
  position: relative;
}

.hero-banner-text {
  position: absolute;
  bottom: 3.75em;
  left: 5em;
  text-align: left;
}

.pre-heading-text {
  font-family: "Aktiv Grotesk -Bold";
  font-size: 0.875em;
  letter-spacing: 0.15em;
  color: #373737;
  line-height: 1em;
  padding-bottom: 1.5em;
}

.heading-text {
  font-family: "Morion -UltraLight";
  font-size: 3.125em;
  letter-spacing: -0.003125em;
  color: white;
}

.heading-text span {
  color: #373737;
}

.heading-text:nth-child(3) {
  margin-top: -0.3em;
  padding-bottom: 0.4em;
}

.heading-text:nth-child(4) {
  padding-bottom: 0.4em;
}

.sub-heading-text {
  font-family: "Aktiv Grotesk -Light";
  font-size: 1em;
  line-height: 1.5em;
  color: #ffffff;
}

#hero-banner-shop-now {
  width: 18.1875rem;
  height: 3.75em;
  border: none;
  background-color: #373737;
  font-family: "Aktiv Grotesk -Regular";
  font-weight: lighter;
  font-size: 1em;
  color: white;
  line-height: 1.3125em;
  margin-top: 1.5em;
}

/* MAIN: product category sections */
.product-categories-section {
  display: flex;
  width: 100%;
}

.product-categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 3.125em 5em;
  gap: 2em;
}

.product-categories-container img {
  width: 35em;
  /* width: 23.3125em;
  object-fit: contain; */
}

.product-categories-container h3 {
  font-size: 1.5em;
  padding-top: 1em;
  font-family: "Morion -Light";
  line-height: 1.75em;
  color: #373737;
}

.product-categories-container p {
  font-size: 1em;
  font-family: "Aktiv Grotesk -Light";
  color: #373737;
  padding-top: 0.6em;
  padding-bottom: 3em;
}

.product-categories-container a {
  font-family: "Aktiv Grotesk -Medium";
  font-size: 0.875em;
  color: #373737;
  text-decoration: none;
  padding-bottom: 0.5em;
  border-bottom: 0.2em solid #373737;
}

.product-categories-container a:hover {
  color: #bb8934;
  border-bottom: 0.2em solid #bb8934;
}

@media (max-width: 768px) {
  .hero-banner-header img {
    content: url(assets/images/banner-image__mobile.png);
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1250px) {
}
